@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}
:root{

    --bg:#fff;
    --firstColor: #8e36e6e1;
    --title: #8000FF;
    --icons: #ffffff;
    --links: #9868D9;
    --text:#000;
    --bg-text:#ebe6eea0;
    --hover:#b690ecce;
    --divisa:#5e1c7f;
    transition: background .3s;
}
body.dark{
    --bg:#333;
    --firstColor: #b87d64;
    --title: #b87d64;
    --icons: #000000;
    --links: #817c7c;
    --text:#dfdada;
    --bg-text:#565656a0;
    --hover:#fed8c7c3;
    --divisa:#854b32;
}
body{
    background-color: var(--bg);

}
.links{
    
    border-radius: 15px;
    width: 40%;
    height: 50%;
    margin: 13% auto;
    padding: 3%;
    text-align: center;
   
}
h1{
    color: var(--title);
    font-size: 200%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}
p{
    margin-bottom: 10px;
    font-size: 130%;
    color: #000;
    font-weight: 300;
}
.links{
    background-color:var(--bg-text);
    border-radius: 15px;
    width: 40%;
    height: 50%;
    margin: 10% auto;
    padding: 3%;
    text-align: center;
    
}
.links a{
    display: flex;
    flex-direction: column;
    font-size: 120%;
    text-decoration: none;
    padding: 10px;
    color: var(--text);
    transition: .3s;
}
.links a:hover{
    color: var(--hover) ;
}
#voltar {
    background-color: var(--title);
    display: block;
    color: var(--text);
    border-radius: 15px;
    width: 70px;
    height: 40px;
    padding: 10px;
    margin: 10px 0 0 10px;
}
#voltar  {
    text-decoration: none;
}
@media screen and (max-width: 560px ){
    h1{
        font-size:150%;
    }
    .links{
        width: 70%;
        height: 100%;
    }
}