@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}

:root{

    --bg:#333;
    --firstColor: #b87d64;
    --title: #b87d64;
    --icons: #000;
    --links: #817c7c;
    --text:#dfdada;
    --bg-text:#565656a0;
    --hover:#fed8c7c3;
    --divisa:#854b32;
}
body.active{
    --bg:#fff;
    --firstColor: #8e36e6e1;
    --title: #8000FF;
    --icons: #000;
    --links: #9868D9;
    --text:#000;
    --bg-text:#ebe6eea0;
    --hover:#b690ecce;
    --divisa:#5e1c7f;
    transition: background .3s;
}
::selection{
    background: var(--links);
}


header{
    background-color: var(--title);
    display: flex;
    text-decoration: none;
    margin-bottom: 50px;
    z-index: 20;
    transition: background .3s;
}
header > #logo{
  
    display: flex ;
    width: 30%;
    padding: 10px 20px;
    z-index: 5;
}
header > #logo a {
    text-decoration: none;
    color: var(--icons);
    font-size: 30px;
    margin: auto;
   transition: .2s;
  
}
header > #logo a:hover{
    scale: 1.2;
    color: var(--hover);
    font-weight: 500;
}

.links{
  
    display: block;
    width: 100%;
}
#nav-link{
    display: flex;
    width: 100%;
}
#nav-link ul {
    display: flex;
    text-decoration: none;
    width: 100%;
   
    justify-content: space-evenly;
} 
#nav-link ul li {
    display: flex;
   
}
#nav-link ul li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 18px;
    color: var(--icons);
    padding: 20px;
    transition: .3s;
}
#nav-link ul li a:hover{
    color: var(--hover);
    scale: 1.1;
}
#nav-link ul li a span{
    padding-left: 10px;
}
#checkbox{
    opacity: 0;
    position: absolute;
}
label{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.fa-sharp{
    color: var(--icons);
}
#btn-menu{
    display: none;
    position: relative;
    bottom: 30px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color:var(--icons);
}


body{
    background-color: var(--bg);
}



 .content{
    background-color:var(--bg-text);
    color: var(--text);
    font-weight: 500;
    border-radius: 10px;
    text-align: justify;
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    font-size: 100%;
    padding: 2%;
}
.content h1{
    color:var(--firstColor);
    font-size: 180%;
    margin-bottom: 20px;
    font-weight: 900;
}

.divisa{
    background-color: var(--divisa);
    color: transparent;
    width: 90%;
    height: 2px;
    border-radius: 10px;
    margin: 40px auto;
}
footer{
    background-color:var(--bg-text);
    text-align: justify;
    width: 90%;
    margin: 0 auto 100px;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}
footer p {
    margin-bottom: 10px;
}
footer  ul li {
    display: block;
    margin-bottom: 8px;
    font-size: 105%;
    
}
footer .links-f ul li a:hover{
    color: var(--hover);
    
}
footer .links-f ul li a {
    text-decoration: none;
    color: var(--links);
    transition: .3s;
}

@media screen and (max-width: 750px) {
    
    .links{
        display: flex;
        margin-top: 50px;
        margin-left: -100vw;
        height: 100%;
        width: 50vw;
        position: relative;
        top: -5%;
        padding-top: 10% ;
        transition: .5s;
        z-index: 5;
        background-color: var(--title);
    }
    #nav-link ul{
        flex-direction: column;
        margin: -3%;
        padding: 0;
    }
    #btn-menu{
        display: flex;
        font-size: 30px;
        position: relative;
        bottom: 35px;
        left: 15px;
        background-color: transparent;
        color: var(--icons);
        border: none;
        z-index: 4;
    }
}
@media screen and (max-width: 460px){
    #logo{
        width: 80%;
        z-index: 1;
    }
    .content{
        padding: 7%;
        text-align: justify;
    }
    .links{
        position: fixed ;
        z-index: 4;
    }
    #nav-link ul{
        flex-direction: column;
        margin: -3%;
    }
    #btn-menu{
        top: 13%;
        position: relative;
    }
}
@media screen and (max-width: 440px){
    .content{
        padding: 7%;
        text-align: justify;
    }
    .links{
       
        position: fixed ;
        z-index: 4;
        width: 60%;
    }
    #nav-link ul{
        flex-direction: column;
        margin: 3%;
        padding: 3%;
    }
    span .text{
        margin-top: 30%;
    }
    ::selection{
        background: transparent;
    }
}