@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}

:root{

    --bg:#fff;
    --firstColor: #8e36e6e1;
    --title: #8000FF;
    --icons: #ffffff;
    --links: #9868D9;
    --text:#000;
    --bg-text:#ebe6eea0;
    --hover:#b690ecce;
    --divisa:#5e1c7f;
    transition: background .3s;
}
body.active{
    --bg:#333;
    --firstColor: #b87d64;
    --title: #b87d64;
    --icons: #000000;
    --links: #817c7c;
    --text:#dfdada;
    --bg-text:#565656a0;
    --hover:#fed8c7c3;
    --divisa:#854b32;
}
::selection{
    background: var(--links);
}

            /* header */

header{
    background-color: var(--title);
    display: flex;
    text-decoration: none;
    margin-bottom: 50px;
    z-index: 22;
    transition: background .3s;
}
header > #logo{
  
    display: flex ;
    width: 30%;
    padding: 10px 20px;
    z-index: 22;
}
header > #logo a {
    text-decoration: none;
    color: var(--icons);
    font-size: 30px;
    margin: auto;
    transition: .2s;
  
}
header > #logo a:hover{
    scale: 1.2;
    color: var(--hover);
    font-weight: 500;
}

.links{
  
    display: block;
    width: 100%;
}

#nav{
    display: flex;
    position: relative;
    left: 20%;
    line-height: 4;
}
#nav ul {
    display: flex;
    text-decoration: none;
    width: 80%;
    justify-content: space-evenly;
} 
#nav ul li {
    text-decoration: none;
    display: flex;
    position: relative;
    
}
#nav ul li a{
    text-decoration: none;
    display: flex;
    color: var(--text);
    transition:  ease-in .2s;
}
#nav ul li span{
    padding-right: 10px;
}
#nav ul li .text #checkbox {
    padding: 0;
    margin-top: 24px;
    margin-right: 20px;
} 
#nav ul li a:hover{
    color: var(--hover);
    letter-spacing: 1px;
    
}
.label{
    width: 10%;
    height: 10%;
}
#checkbox{
  opacity: 0;
}

.fa-sharp{
    color: var(--text);
}
.fa-sharp:hover{
    color: var(--hover);
}
#btn-menu{
    display: none;
    position: relative;
    bottom: 30px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color:var(--icons);
}

        /*  menu-lateral*/

@media screen and (max-width: 910px) {
   
   header{
    z-index: 22;
   } .links{
    position: fixed;
    top: 0%;
    background-color: var(--title);
    width: 40vw;
    height: 100vh;
    z-index: 5;
    transition: linear .3s;
   }
    #nav ul{
    flex-direction: column;
    position: relative;
    margin-top: 15%;
   }
   #nav ul li{
    margin-top: 1%;
   }
   #btn-menu{
    display: flex;
    font-size: 30px;
    position: relative;
    bottom: 35px;
    left: 15px;
    background-color: transparent;
    color: var(--text);
    border: none;
    z-index: 20;
}
.icon{
    font-size: 20px;
    line-height: 3;
}
}

@media screen and (max-width: 425px){
    .icon{
        font-size: 20px;
        line-height: 3;
    }
    .links{
        width: 70vw;
    }
    #nav ul li{
        margin-top: 10%;
        margin-left: 0%;
        width: 10%;
       }
       #btn-menu{
        font-size: 24px;
       }
}


@media screen and (max-width: 375px){
    .icon{
        font-size: 16px;
        line-height: 4;
    }
    .links{
        width: 70vw;
    }
    #nav ul li{
        margin-top: 10%;
        margin-left: -10%;
        width: 10%;
       }
       #btn-menu{
        font-size: 24px;
       }
}

@media screen and (max-width: 320px){
    
    #nav ul li{
        margin-top: 0%;
        margin-left:5%;
        width: 10%;
       }
       #btn-menu{
        font-size: 24px;
       }
       .content{
        padding: 7%;
        text-align: justify;
    }
    .links{
       
        position: fixed ;
        z-index: 4;
        width: 60vw;
    }
    ::selection{
        background: transparent;
    }
}



body{
    background-color: var(--bg);
}



 .content{
    background-color:var(--bg-text);
    color: var(--text);
    font-weight: 500;
    border-radius: 10px;
    text-align: justify;
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    font-size: 100%;
    padding: 2%;
}
.content h1{
    color:var(--firstColor);
    font-size: 180%;
    margin-bottom: 20px;
    font-weight: 900;
}

.divisa{
    background-color: var(--divisa);
    color: transparent;
    width: 90%;
    height: 2px;
    border-radius: 10px;
    margin: 40px auto;
}
footer{
    background-color:var(--bg-text);
    text-align: justify;
    width: 90%;
    margin: 0 auto 100px;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}
footer p {
    margin-bottom: 10px;
}
footer  ul li {
    display: block;
    margin-bottom: 8px;
    font-size: 105%;
    
}
footer .links-f ul li a:hover{
    color: var(--hover);
    
}
footer .links-f ul li a {
    text-decoration: none;
    color: var(--links);
    transition: .3s;
}
